/*

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%)

## Typography

### Body Copy

- Font size: 32px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 300, 500, 700

*/


/**************
GENERAL
**************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
}

.testimonial {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.hide {
    display: none;
}

/**************
IMAGE
**************/
.testimonial-image {
    background-image: url(./images/pattern-bg.svg);
    background-size: cover;
    padding: 25px 35px;
    margin-bottom: 35px;
}

.profile {
    width: 100%;
    height: auto;
    border-radius: 5px;
} 

/**************
ARROWS
**************/
.arrows {
    display: flex;
    width: 80px;
    box-shadow: 1px 1px 10px #8585ac;
    position: relative;
    top: -20px;
    border-radius: 28px;
    background-color: #ffffff;
    justify-content: space-evenly;
    padding: 20px;
}

button {
    background-color: #ffffff;
    border: none;
}

.left-button {
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
}

.right-button {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
}







/**************
TEXT
**************/

.testimonial-text {
    max-width: 610px;
}

.quote {
    font-weight: 500;
    background-image: url(./images/pattern-quotes.svg);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 10%;
    padding-top: 25px;
}

.reviewer {
    font-size: 20px;
    line-height: 38px;
    font-weight: 300;
}

.reviewer strong {
    font-weight: 700;
}

/**************
FOOTER
**************/

footer {
    height: 75px;
    background-image: url(./images/pattern-curve.svg);
    background-size: cover;
    padding-bottom: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }

/**************
MEDIA QUERIES
**************/

@media (min-width: 850px) {
    .testimonial {
        flex-direction: row;
    }
    .quote {
        font-size: 32px;
        line-height: 44px;
    }

    footer {
        height: 150px;
    }
}